[2014-03-17 14:25] leandroruel opened #3 "function to clone input values and increment name/value"
is possible this plugin clone a container wrapper, and your childs elements with the value and name, and if possible increment name/value?

[2014-03-26 06:28] #3 closed, assigned to nobody

[2014-08-07 10:43] vihano opened #5 "Issue - Cloning twice"
Dear Developer,
                           Have been using Cloneya for a month. When clone button is clicked, the content is cloned twice (Not all the time). This issue is reproducing in demo too.

[2014-08-11 13:34] ghost opened #6 "Auto increment on a multi dimensional PHP sstsy"
Hi

There is a small issue when cloning form elements that have a PHP multi dimmensional array scheme, for example if I had a fieldset with 3 fields which I wanted to clone, its not renumbering the array correctly, to give an example, if I loaded a form for editing which was pre-populated with 2 sets of information

contact[0][name]
contact[0][address]
contact[0][phone]

contact[1][name]
contact[1

[2014-10-03 20:37] ihorvorotnov opened #7 "Minified file is broken"
Hello,
The `jquery-cloneya.min.js` from current master is broken, it contains extra lines left out by minifying tool or while doing `git rebase`. Probably by 026ee4df3d500f83ffcaa8eff350e939a3516d66. Here's the code:

[code]

The non-minified version works like a charm. Thanks for the plugin!

[2014-10-06 10:06] #6 closed, assigned to nobody

[2014-10-06 10:06] #5 closed, assigned to nobody

[2014-10-06 10:06] #7 closed, assigned to nobody

[2014-11-06 13:04] jenseo opened #8 "Possible to start with id=1?"
Hi!

I'm having a scenario where the original element have id's like `id="text1"` `id="container1"` and so on. These are crucial for my functions to work, they can't start with no digit at the end. Is it possible, when the cloning is made, to start with this value (text1) and make the clone become text2 for example?

// Jens.

[2014-11-06 13:19] #8 closed, assigned to nobody

[2014-11-06 16:54] jenseo opened #9 "Add counter to href?"
Hi!

I'm cloning a container with a tab block inside. The links of the tabs has to be unique (href="#tab"), and point to divs with same id (id="tab"). When cloning, the div updates, but not the tab href. Is there a way I can make this happend?

Thanks for a great plugin and sorry for my beginner questions!

// Jens.

[2014-11-07 11:51] #9 closed, assigned to nobody

[2014-11-07 11:55] jenseo opened #10 "Run function with created clone id"
Hi!
Right now I'm having the following code:

[code]

What I'm trying to do with the lines:

[code]

is to get the id of the .preview div of the new clone (for example #preview1), strip out the preview part and this way get the id of the clone.

Then I would like to run the tab function with this container id.

Not getting it to work though.

Is there another way I should do this, or another way I

[2014-11-12 08:20] razuro opened #11 "Limit does not work with nested cloning"
**How to replicate issue:**
1. Using the demo as example, put a limit, say **2**, on **Contact Information**
2. Clone the parent, do not clone contact information
3. You should be able to clone the contact information as many as you want in the 2nd parent (cloned parent)

And other issues if you play around with nested cloning & limit.

[2014-11-13 06:12] #10 closed, assigned to nobody

[2014-11-20 10:18] gchokeen opened #12 "ignore option"
When come accross the valiation plugin with cloning process. It clones the validation erros in form. Also when I work with image display I had same issue. So igore feature will be make plugin very usuable.

[2014-11-20 10:33] #12 closed, assigned to gchokeen

[2014-12-19 13:00] gchokeen opened #13 "reset option"
Cloneya needs a reset option, when I come across form reset(without page reload), plugin keeps all the cloned form fields. It has to be reset. so it will be great if we add a rest option.

[2014-12-27 14:35] jenseo opened #14 "Problem with the clone id numbers after #10"
Hey there!
When I clone a number of id:s, let's call it "image", the first clone becomes "image1", the second one image2 etc...

The problem is, when I come to number ten, this becomes the ID:s:

image1111111110
image1111111111
image1111111112
image1111111113
image1111111114

etc...

Any idea why this happens? I'm using a query where I use the ID numbers, and need it to keep increasing without the

[2014-12-29 14:11] #14 closed, assigned to nobody

[2015-01-03 18:09] mbi24 opened #15 "always clone "template""
Is it possible to clone always kind of template with one "outer" input and two "inner" inputs in nested mode?

After cloning inner form few times and then click to clone outer form, "new" outer form is cloned with one "outer" input and "inner" inputs cloned-few-times.

What I want to achieve is having one outer input and two inner inputs everytime I clone outer form, no matter how many "inner" inp

[2015-01-03 22:56] jenseo commented on #14
Perfect, works like a charm! Thanks!

[2015-01-08 01:47] razuro commented on #13
Yup. I second that.

[2015-01-12 15:22] #11 closed

[2015-01-12 18:41] yapapaya commented on #11
I've fixed this. The code that counts the clones was erraneous. The min and max counts were wrong and hence the clone and delete buttons failed. We'll have a proper release and documentation later.

[2015-01-12 18:44] yapapaya commented on #15
I've added a *preserveCount* option which is *false* by default. If you set it to true, if a clone had 2 children initially, all clones will have 2 children when they are created. I'll release it later.

[2015-01-12 18:44] #15 closed

[2015-01-15 10:54] tranlamnhatnam opened #17 "Woking with other plugin"
I use **Cloneya** with  [Bootstrap-datetime-picker](http://eonasdan.github.io/bootstrap-datetimepicker/) but when clone new row datetime-picker work with only one input of row has been clone.

This is code in [jsbin](http://jsbin.com/paceyuroqo/1/edit?output)

![untitled](https://cloud.githubusercontent.com/assets/1934536/5756061/1c5fe1f0-9cde-11e4-92f0-28c93300eced.png)

[2015-01-15 12:56] tranlamnhatnam commented on #17
Resolved with jquery ui datepicker

[2015-01-15 12:56] #17 closed

[2015-01-16 03:23] razuro commented on #17
Did you solve that by re-initializing datepicker after creating clone?

[2015-02-21 08:53] sakthiemail opened #18 "Map cloned child form to particular parent form in nested clone"
How can I map the child clone form to a parent form. When It seems all the  values of all the child forms are normal array. I could not find the parent of the child clone form. All the form values are displayed in single array. Any mapping functionality should be useful for finding the parent of child clone form.
 How can I achieve?. Any help is appreciated

[2015-02-21 13:49] sakthiemail opened #19 "Will this work in jQuery 1.5 version?"
Will this work in jQuery version 1.5?
I also noticed the following errors in IE7 & IE8.

" SCRIPT5009: 'jQuery' is undefined
 jquery-cloneya.js, line 8 character 1
 SCRIPT5007: The value of the property '$' is null or undefined, not a Function object
 demo, line 107 character 13 "

Thanks.

[2015-02-23 15:51] sakthiemail opened #20 "Create more than one inner form in single form"
Thank you for great jQuery-cloneya plugin.
How can we create more than one inner form within the main form.
I am using one main form with four inner forms.
The fresh main form worked perfectly with all the inner forms.
After cloning of the main form,did not display all the inner forms.
 It display first inner form only.
Any help will be appreciated.

Thanks,

[2015-02-24 07:52] gchokeen commented on #20
Why don't you create jsfiddle or something for easy understanding

[2015-02-24 11:26] sakthiemail commented on #20
http://jsfiddle.net/f6yLw8ch/11/

I created my form in above jsfiddle url
It worked with firefox only.
please check give me a sugesstion for me.
is it right or wrong?

[2015-02-24 16:15] yapapaya commented on #20
The js fiddle wouldn't work because you used the raw.github.com. With strict mime type checking it is blocked. You would need to use the one from github pages: http://yapapaya.github.io/jquery-cloneya/javascripts/jquery-cloneya.min.js

See this updated fiddle where things seem to work fine: http://jsfiddle.net/f6yLw8ch/13/

[2015-02-25 07:56] gchokeen commented on #19
Thanks for giving attention on it, Plugin supports **jQuery >=1.7**. I updated the dependencies in required files

[2015-02-25 07:56] #19 closed

[2015-02-26 06:31] sakthiemail commented on #20
Thank you for your reply.
It is working. I will implement.
How can I add form validation for cloned form.
Please,Can you explain.

[2015-02-26 12:14] gchokeen commented on #20
@sakthiemail : what you mean by validation. I usually do [jquery validation](http://jqueryvalidation.org/) with cloned form. you can find more relavent question and solusions in Stackoverflow. If you don't find raise one specific question in So with jquery-cloneya tag!

[2015-02-26 12:14] #20 closed

[2015-02-26 12:16] gchokeen commented on #18
We can find the parent using `jquery closest`

[2015-02-26 13:10] sakthiemail commented on #18
Thank you for reply.
Can you give some sample code for getting parent child combination for getting  values.
For example
Name value - name1
    --mobile value 1234
    --mobile value 12345
Name Value - name2
    --mobile value 123467
    --mobile value123468

using php and jQuery cloneya
Please, Can you give right direction to me with sample code for achieving this.

[2015-02-26 14:50] sakthiemail opened #21 "Clone added Two items per one click"
When I add one items, it added two items.
Can you check  the following example?
 http://jsfiddle.net/f6yLw8ch/13/

Thanks

[2015-02-26 19:23] blaskxx opened #22 "Delete all clones"
how do i limit the times of deleting? because with your example it delete me all the form

[2015-02-26 19:24] blaskxx commented on #21
how you delimit the times of deleting? with the original example it delete me all the form

[2015-02-27 03:58] gchokeen commented on #22
Which example you checked, I unable to reproduce it, What is the steps to reproduce it.

[2015-02-27 06:09] yapapaya commented on #18
This is not a job for cloneya.

You have to set your indices correctly. Your example, in php is:
[code]

So, what you get is:
[code]

What you want is:
[code]
To get that, your inputs would need to be:
[code]
This is complicated compared to this:
[code]

The array you'll get is:
[code]
I'm sure with a [*few lines of code*](http://php.net/manual/en/function.array-combine.php), you can process this

[2015-02-27 06:09] #18 closed

[2015-02-27 06:10] yapapaya commented on #21
@blaskxx Please create a separate ticket. We won't help you in this one.

[2015-02-27 06:42] sakthiemail commented on #18
Thank you very much for giving this explanation. Thanks for your help. I am sure, Its enough to my expectation.
Thanks.

[2015-02-27 06:43] yapapaya commented on #21
@sakthiemail This is happening because cloneya is not yet equipped to handle nesting with the same class identifiers. So, you have a `.clone-inner` with a clone and delete button and inside that another `.clone-inner` with clone and delete buttons with the same class names.

This will be added in the future. However, for now, make sure all the nested levels have different class names, like your fi

[2015-02-27 06:43] #21 closed

[2015-02-27 06:49] sakthiemail commented on #21
Thank you for your help. Thank you very much.

Thanks,

[2015-02-27 21:58] yapapaya commented on #13
The simplest way to do that is to deep clone the cloneya element and keep it in memory. On reset event of the form, we just replace whatever we have with what's stored in memory:

[code]

There are many bloated, super feature rich, css and graphic rich, user centric cloning plugins out there. Cloneya is not that. Anything that is not essential or doesn't directly influence to the process of clonin

[2015-03-02 12:31] gchokeen commented on #13
Solution is simply great!  I agreed many rich plugin doing that sometime even small one's. Because I see reset is become basic feature when it comes to single page applications. I see even developers don't want to do much code outside (*Lazy!*).  Anyhow, Let's say based on number request on same feature we think of adding it later!

It's really good point about expanding wiki or tutorial, it will

[2015-03-02 16:23] sakthiemail opened #23 "Any hook is there to restrict the add/append clonned form for validation purpose?"
I want to validate the form before cloning.
I do not need to append/add clonedform before validating the actual form.
is any other hooks available in jquery-cloneya plugin. Please give some suggestion.

[2015-03-02 16:46] yapapaya commented on #23
There are a lot of events that you can hook on to. Did you see the readme: https://github.com/yapapaya/jquery-cloneya#specific-events ?

[2015-03-02 19:27] #23 closed

[2015-03-03 13:47] yapapaya opened #24 "Better nested cloning"
It makes no sense for users to keep invoking cloneya on each nest and have so many different class names. It should work properly, even when all nested instances have the same class names.

[2015-03-03 13:48] yapapaya commented on #24
This is the branch where I'm working on this: https://github.com/yapapaya/jquery-cloneya/commits/nesting-enhance

[2015-03-03 13:56] yapapaya opened #25 "Introduce minimum clones"
Like we have a *limit* that allows use to set the maximum allowable clones, introduce a *minimum* parameter that sets the minimum number of clones required.

So, in a form, if you need someone to provide at least 2 websites (for eg), then they won't be able to delete to the last clone. Validation would also become easier.

[2015-03-03 13:58] yapapaya opened #26 "Deprecate limit, introduce maximum"
In the same spirit as #24, deprecate *limit* and call it *maximum* (although we'll recognise limit in code for a couple of versions).

[2015-03-03 13:58] yapapaya opened #27 "Deprecate defaultRender to defaultCount"
Current *defaultRender* can be deprecated in favour of minimum or *defaultCount* for clearer understanding of waht it means (#24)

[2015-03-03 14:04] yapapaya commented on #13
Cool, let's add this in 1.0.

[2015-03-03 14:05] yapapaya commented on #22
@blaskxx I guess, you need a minimum count. This is not present in cloneya, but we'll add it in 1.0. See #25

[2015-03-08 06:42] #27 closed

[2015-03-08 06:43] #24 closed

[2015-03-08 06:44] #25 closed

[2015-03-08 06:44] #26 closed

[2015-03-13 06:59] yapapaya opened #29 "Add jsHint in grunt tasks"
Add support for jsHint

[2015-03-13 07:02] yapapaya opened #30 "Add jsDoc 3 support"
Using Grunt tasks

[2015-03-13 07:04] yapapaya opened #31 "Hook doc creation, hinting and testing on git hooks"
Use git hook plugin for grunt to run docs, jsHint and tests on pre-commit and pre(post?) merge events.

[2015-03-13 11:12] yapapaya opened #32 "test cloneya before 1.0.0"
@gchokeen I have made a lot of changes, for the better:

 * Refactored the plugin, because the public methods weren't working. Also because I guess we'll be adding more public methods. Also added a `destroy` method.
 * Added npm support. This will be the first release as node package
 * Improved delete functionality
 * Added unit tests
 * Added travis.ci support

Most importantly nested cloning ha

[2015-03-13 11:17] yapapaya opened #33 "defaultCount"
@gchokeen With nesting, `defaultCount` produces weird results, which are logical but may not be expected by the user.

I'm not sure if we need `defaultCount` because I believe rendering can be done better by the server side scripting or plain copy paste html. I'm in huge favour of removing defaultCount.

Do you have any use case where this parameter is required and makes life easier? Let me know y

[2015-03-13 11:19] yapapaya commented on #22
@blaskxx we've added a *minimum* parameter and modified the deletion. Could you test and see if this one fixes your issue? We'll be releasing 1.0 soon.

[2015-03-13 11:23] yapapaya commented on #13
Now I have doubts again.

Storing the whole form in memory is not a very nice thing to do. So, we may have to append it to a hidden div and then retreive from there. Is there a performance diference between the two?

Regardless of the above, I think I'll keep this out of cloneya and create a separate plugin that the user may or may not want to include.

[2015-03-13 11:24] yapapaya opened #34 "Reset Plugin"
Refer #13, instead of adding a reset option in cloneya, create a separate plugin that can go in a new plugins folder.

[2015-03-13 12:32] yapapaya commented on #33
Especially since this could easily be done by the following code, if at all necessary:

[code]

[2015-03-13 12:38] gchokeen commented on #33
Okay, Let's go for that since it's easy to do from user end. Let's put in wiki.

[2015-03-13 14:18] blaskxx commented on #22
Thanks great job!

[2015-03-13 17:32] yapapaya commented on #22
I have just released it. I'm closing the issue. If you still face a problem, we'll reopen this ticket.

[2015-03-13 17:32] #22 closed

[2015-03-15 10:22] bondz commented on #29
What jsHint [options](http://jshint.com/docs/options/) are we looking to add?

[2015-03-15 23:51] yapapaya commented on #29
Added

[2015-03-15 23:51] #29 closed

[2015-03-16 07:34] #32 closed

[2015-03-30 05:58] tugaytaskin commented on #17
I have the same issue, and tried to re-initializing the datepicker, but its not working:

[code]

I am using the bootstrap-datepicker:
https://bootstrap-datepicker.readthedocs.org/en/latest/

[2015-03-30 13:19] gchokeen opened #37 "Why child-selector?"
In the lastest plugin release 1.0.0, cloneya using [child-selector](http://www.w3.org/TR/CSS21/selector.html#child-selectors) for all the delete & clone button. It making us to use strict & standard structure, is it really required?

When I work accross the bootstrap form, I faced problem below structure

[code]
This one solved
[code]
Do you think it's really important to do that!

[2015-04-01 10:15] sakthiemail opened #38 "Check box and radio button element's values are reset."
We are using the form with radio and check box button. When we cloned the form, it reset the value of check box and radio buttons. It allows only one radio button value to choose for all the cloned forms.

Appropriate support or help is appreciated.

[2015-04-01 12:14] gchokeen commented on #38
It allows only one radio button because radio button name all same for full form. You need to change the name in array format ``` (eg: <input type="radio" name="name[1]"/>)``` .  Don't worry about name index, cloneya handles internally!

Radio and checkbox getting reset, because **valueClone** option is false in default. You can set valueClone:true to keep the old selection when cloning the form.

[2015-04-02 05:31] sakthiemail commented on #38
Thank you for your reply.
let I will check and inform you.

[2015-04-21 15:16] Rtransat commented on #6
It's possible to reset index ?

For example:

contact[0][name]
contact[0][address]
contact[0][phone]

contact[1][name]
contact[1][address]
contact[1][phone]

contact[2][name]
contact[2][address]
contact[2][phone]

If I delete index 0. 1 becomes 0 and 2 becomes 1 ?

[2015-04-23 10:35] Rtransat commented on #17
Someone has a solution with [chosen](http://harvesthq.github.io/chosen/) plugin ?

[2015-04-23 11:29] gchokeen commented on #17
I am sure it will work if you properly reinit the your external plugin on before_clone.cloneya, I you create the fiddle then it will be easy  to help you!

[2015-04-23 11:42] Rtransat commented on #17
Found it ;)

[code]

[2015-05-22 09:53] acoulton opened #39 "Child data is always cloned - deepClone and dataClone options are ignored"
It seems like the `.data()` on child elements is always cloned, irrespective of the setting of the `deepClone` and `dataClone` options. This causes obvious issues with jquery plugins initialised on elements inside the cloned group.

It looks like this is because the options are passed to `jquery.clone()` as a hash - but that method expects two booleans and treats the hash as equivalent to `true`.

[2015-06-02 23:15] danderson421 opened #41 "nested elements of a clone cannot be deleted"
in your nested demo, if you add phone numbers, then clone the contact, the phone numbers in the cloned contact cannot be deleted. not related to my implementation, not working on your demo page either. Otherwise, great work... would love to have this issue resolved if possible.

[2015-06-03 06:16] gchokeen commented on #41
I checked it's clearing the phone number filed on the [demo](http://yapapaya.github.io/jquery-cloneya/demo.html)

[2015-06-03 12:50] danderson421 commented on #41
I checked again... it clears the phone on the original element, but not if it's cloned.

[2015-07-07 13:07] acoulton opened #42 "serializeIndex does not properly update nested array field names"
When cloning an element like this with `serializeIndex: true`:

[code]

I would expect only the first-level array key to be updated to the new sequence - eg:

[code]

However, cloneya resets *all* the numeric keys in a field name in both the toClone and newClone elements - so the output is actually:

[code]

This then produces duplicate field names in each block, so the submitted data is missing e

[2015-07-07 13:20] acoulton commented on #42
One possible solution for all usecases might be to define a `nameIndexPattern` or similar option to define the regular expression that will be used to find indexes to replace (in place of the hardcoded `/\[([^}]+)\]/`)[https://github.com/yapapaya/jquery-cloneya/blob/stable/dist/jquery-cloneya.js#L418].

We could then do things like:

[code]

or basically whatever pattern was appropriate for the us

[2015-07-10 11:30] gchokeen opened #43 "Validation method"
Form validation is taking important role in all the applications. So I think cloneya should give the control to user for validating form.

Case:
   - Email field is empty or invalid, still we can add new field
   - Users what to get confirm user before deleting the form field, like "Are you sure, you want to delete!"

I don't see anyway to achieve this on before_clone or before_delete event callba

[2015-07-17 20:42] gchokeen commented on #43
I did some work around to achieve above request, please check and tell me this can be implemented.

[code]

I created the [js fiddle demo here](https://jsfiddle.net/gchoken/kpyb25so/3/)

[2015-07-17 20:45] #38 closed

[2015-07-17 21:04] gchokeen commented on #33
defaultCount option removed since v1.0.0

[2015-07-17 21:04] #33 closed

[2015-07-18 10:11] #39 closed

[2015-07-21 15:09] BenComicGraphics opened #44 "How do I make the input names increase incrementally?"
I'm using this, and I need a way to ensure the input names increase like the ID's are.

[2015-07-21 18:56] gchokeen commented on #44
Cloneya already handlng it, You need to set field name as array ```<input type="text" name="name[1]"/>```. Cloneya will automatically increment the numeric index of array.

[2015-07-21 18:56] #44 closed

[2015-07-21 19:59] BenComicGraphics commented on #44
Got it! tHX!

[2015-07-24 13:07] chrisvanderpoel commented on #37
@gchokeen You can actually do this by simply specifying the CSS selector route down to the `.clone` element.  As you can see [in the source](https://github.com/yapapaya/jquery-cloneya/blob/stable/dist/jquery-cloneya.js#L123), it's just appended to the `toClone` selector.  So you can do something like:

[code]

[2015-07-24 13:23] gchokeen commented on #37
Yep, that's extra effort, but it still make sense!

[2015-07-24 13:23] #37 closed

[2015-07-29 14:55] girlscancode commented on #44
Hi gchokeen,

OK, I think this is not working - and I am looking at the actual demo page you have set up, the name field is not automatically incremented

Best,
Gabriela

[2015-07-29 14:58] acoulton commented on #44
You also need to set the (undocumented) config option `serializeIndex` to true to make it work. Note also that currently if you have more than one numeric bit in your fieldname cloneya will reset *all* of them to the clone index (see #42)

[2015-07-29 15:00] girlscancode commented on #44
Aaah, ok, I see! Thanks Andrew!

[2015-07-29 15:01] acoulton commented on #42
@yapapaya bump - what do you think? Should I try to fix this with a `namePattern` option instead of the hardcoded one?

[2015-07-29 16:12] yapapaya commented on #42
@acoulton I actually wanted to keep this open to plugging by the dev. So, the idea was to either to not support it at all and let the dev figure it out or handle just the first level.

The ideal thing to do is to set it to false and hook onto *after_append.cloneya* that is triggered just after the *_redoIDs* function is run to do things specific to one's use case. It'll be impossible to handle all

[2015-08-27 19:40] matisoffn opened #45 "Uncaught Error: Syntax error, unrecognized expression: ."
I'm getting the error below in console when adding the `jquery-cloneya.min.js` file into my HTML:

`Uncaught Error: Syntax error, unrecognized expression: .`

I've tried using the jQuery version used on the demo/example website in the README for the repo, but still got this.

[2015-08-27 20:11] #45 closed

[2015-09-01 16:25] lagunawebdesign commented on #42
You can add new param 'nthMatch' for options and add function like this one: http://stackoverflow.com/questions/36183/replacing-the-nth-instance-of-a-regex-match-in-javascript#answer-7958627
for param what have to be increment.
[code]

[2015-09-01 16:29] lagunawebdesign commented on #41
For me 'DELETE' button it doesn't work too after cloning... - any solution?

[2015-09-28 08:18] Shabbirl opened #46 "Nested Elements of Clone not able to delete"
Nested Elements of Clone not able to delete

[2015-10-05 13:45] quasiperfect opened #47 "how to remove a class from all children of the cloned elemnt ?"
hi

please answer the question from the title.
thanks in advance

[2015-11-13 07:51] ntanas72 opened #48 "Clone tr"
Hi,

i am trying to clone form elements that are inside tr and its not working at all

I have use your simple-clone example using table

Here is the code

        <div id="simple-clone-tr" class="demo-wrap">

	        <h2>Simple Cloning</h2>
	        <form class="form" method="post">
		        <table>
	                <tr class="toclone">
	                    <td class="name">

[2015-11-16 17:25] ChaseGiunta commented on #48
Any table elements used in the container seems to be break this plugin.

[2015-11-17 05:41] ChaseGiunta opened #49 "Start with name="[1]""
Is there a way for the name & ID increment to start with `[1]` ?

[2015-12-20 03:47] labatt opened #50 "Prefilling Data"
I'm trying to write a way to auto-create several clones when initialized and pre-populate them with data but I'm having difficulty figuring out the best approach to do this. Has anyone modified the code to support this? Thanks!

[2016-01-06 08:11] gchokeen commented on #50
Here is the approach to do it.
issue #33

[2016-01-06 08:17] gchokeen commented on #49
No currently cloneya not supporting that, but if you really wants that use the cloneya events to redo the id  and names.

[2016-01-06 08:17] #49 closed

[2016-01-06 14:54] seristee opened #51 "Custom Clone Button creates double the clones"
I am having an issue with using the plugins custom clone button. What happens is every time i click the clone button i get double the clones. here is my code. any help would be greatly appreciated. How do i get this rectified as I am new to javascript.

[code]

[2016-01-21 15:26] adisuwarso commented on #17
Hi,

Thanks for code samples in jQuery-Chosen, that works like a charm.
I would ask about Bootstrap-Datepicker and Bootstrap-Timepicker?

In my case seems to be not work properly, after clone process daterangepicker turned into datepicker, I can change the date in enddate becomes smaller than startdate.

And for my case in Bootstrap-Timepicker, i could not applying the right command to make the cl

[2016-01-21 19:24] aelan-id opened #52 "Bootstrap-Datepicker (daterange) dan Bootstrap-Timepicker"
Hi,

I would ask about Bootstrap-Datepicker and Bootstrap-Timepicker, In my case seems to be not work properly, after clone process daterangepicker turned into datepicker, I can change the date in enddate becomes smaller than startdate.

And for my case in Bootstrap-Timepicker, i could not applying the right command to make the cloning result works well.

Here is my code :
<pre>.on('before_clone.c

[2016-02-24 04:06] solokco commented on #42
Was there any solutions for this?!  I'm having the same problem that @acoulton

Any ideas?!

[2016-02-24 11:14] absmugz opened #53 "Nested child incrementing the parent name"
I have a challenge were I have a nested form and the nested form must have children, but when I try to add the child form in incrementing the parent name

`<div class="nest-clone inner-wrap">
                        <div class="toclone">
                            <strong>Questions</strong>
                            <p class="ques">
                                <input type="text" name="quest

[2016-02-25 19:40] lagunawebdesign commented on #42
I've just wrote own js/jquery script (no plugin) for cakephp+bootstrap structure - to dynamic change field ('name', 'id') and label ('for') - without cloneya.

[2016-05-04 13:46] solarsilk commented on #51
add .first() to the end of your selector, like this:

`$('#clonedForm').triggerHandler('clone.cloneya',[$('.toclone').first()]);`

[2016-05-04 13:58] solarsilk commented on #51
or better yet, use last() to clone the last clone

`$('#clonedForm').triggerHandler('clone.cloneya',[$('.toclone').last()]);`

[2016-05-13 10:24] INDIAN2020 opened #54 "Bootstrap date picker position not pointing exact date input field"
When id/class specific not working.

[2016-05-24 13:36] TheBigK commented on #11
@actual-saurabh - I can't seem to get this to work. Here's what I'm observing: -

GROUP A (

Clone XYZ [+] [-]

) [+] [-]

Clone XYZ works fine and follows the limits. However, when Group A is cloned, the XYZ does not follow maximum limit and the delete button too becomes dysfunctional. Could you please point me to the minified file that has this bug fixed?

[2016-05-24 13:44] TheBigK commented on #41
I'm looking for the solution as well. The delete button does not work when group is cloned.

[2016-05-30 13:43] maxicms commented on #54
this plugin can be successfully cloned field
[code]

[2016-06-01 04:57] actual-saurabh commented on #50
@labatt I hope that answers your question.

[2016-06-01 04:57] #50 closed

[2016-06-01 04:58] actual-saurabh commented on #54
Try this: http://stackoverflow.com/questions/28378518/boostrap-date-picker-not-work-after-clone-using-jquery-cloneya

[2016-06-01 04:59] #54 closed

[2016-06-01 05:30] actual-saurabh commented on #46
This is the same as #41 closing in favour of that.

[2016-06-01 05:30] #46 closed

[2016-06-01 05:32] actual-saurabh commented on #47
Please use the `after_clone` event: https://github.com/yapapaya/jquery-cloneya/wiki/Events#after_clone or the `before_append` event: https://github.com/yapapaya/jquery-cloneya/wiki/Events#before_append to manipulate the cloned element.

[2016-06-01 05:32] #47 closed

[2016-06-01 05:47] actual-saurabh commented on #41
@danderson421 @lagunawebdesign @TheBigK yes, this is a bug. The clones of the children of cloned elements can't be deleted. I'll need to write some unit test cases and debug this. This will take a little while.

[2016-06-01 05:49] TheBigK commented on #41
@actual-saurabh - Thanks! I was pulling out my hair over this. Would really be thankful if you could fix this. I'm using it in a project that'd be super awesome if this gets fixed.

[2016-06-01 05:52] actual-saurabh commented on #48
I have not considered tables while building the plugin, so not tested it at all. Would you be kind enough to put this on a jsfiddle or something or helping out with the tests? Otherwise, I would have to push this to a future version.

[2016-06-01 05:58] actual-saurabh commented on #52
@aelan-id would you be kind enough to put your code on jsfiddle so I don't have to set up everything to test this.

[2016-06-01 06:02] actual-saurabh commented on #42
See this related issue: https://github.com/yapapaya/jquery-cloneya/issues/53

I still think Indexing is not something that a generic plugin like cloneya can do. Each case is going to be different from the other. I'd rather have developers use the `after_clone` and `before_append` events to figure out how to do the indexing for form elements.

[2016-06-01 06:05] actual-saurabh commented on #53
Hey @absmugz,

You should use the `after_clone` and `before_append` events (https://github.com/yapapaya/jquery-cloneya/wiki/Events#after_clone) to manage this on your own. Cloneya cannot manage this sensibly for the numerous use cases.

[2016-06-01 06:06] actual-saurabh commented on #42
See event documentation: https://github.com/yapapaya/jquery-cloneya/wiki/Events#after_clone

at each clone event, one could easily hook in and manage the indexing on their own.

[2016-06-01 06:06] #42 closed

[2016-06-01 06:07] actual-saurabh commented on #53
Also see #42

[2016-06-01 06:07] #53 closed

[2016-06-01 06:18] actual-saurabh commented on #51
In these lines:
[code]
you have basically asked to clone all the clonable elements (all elements with class `.toclone`). As @solarsilk has pointed, you'd have to specify the one that you want cloned. Otherwise, if you click the clone button once, you'd get one copy (total 2).

click button again, you'd get 2 X 2 = 4 copies, then 8, then 16. It'd be a nightmare. So, you either use the `.first()` or

[2016-06-01 06:18] #51 closed

[2016-06-04 04:30] #41 closed

[2016-06-04 04:32] TheBigK commented on #41
Awesome. @actual-saurabh - Does this also fix the bug that childs do not respect 'maximum' setting?

[2016-06-04 04:57] actual-saurabh commented on #41
Yes. The problem was that it was not able to count the total number of existing sibling clones because of a bug. It always used to come to 0. That is why it wasn't getting deleted or respecting the maximum count, because it'd never reach the maximum count.

[2016-06-04 04:59] TheBigK commented on #41
Can't thank you enough man. Coffee on me if we meet in Pune. That said, I really need help with a problem about applying selectors to the child items. Would really appreciate if you could help with it. I've tweeted the link to you.

[2016-06-04 05:10] TheBigK opened #55 "Can't get my selectors to work on child clones"
I have a group of fields that I clone by clicking on the [ + ] button; and cloning works fine. Here's the code -

HTML:
`<input type="text" name="resumeSkillYears[]" id="<?php echo "resumeSkillYears_" . $i; ?>" class="boo gui-input" placeholder="Years" value="<?php echo $value['skillYears']; ?>" >`

JS:

[code]

Because the ID of the element is dynamically incrementing, I thought I'd rather append

[2016-06-04 05:18] actual-saurabh commented on #43
This is fine, but you'd also need to write the unit tests for validation. Let me know if you need help with that.

[2016-06-04 05:19] actual-saurabh commented on #43
I'm keeping it for a future 1.1.0 release. I need to write more tests for nested cloning and deleting. This would've saved me #41

[2016-06-04 05:22] actual-saurabh commented on #55
Could you please create a jsfiddle for this? In general, it is easier and faster to solve problems if there's a jsfiddle.

[2016-06-04 05:23] TheBigK commented on #55
Sure. Bit new to it; but I should be able to do it fast.

[2016-06-04 06:44] TheBigK commented on #55
@actual-saurabh - While I try and get jsfiddle to work to show the problem I'm facing; I thought I'd simply share the code files: https://www.dropbox.com/s/priab5xs5qibs3m/child-select.zip?dl=0

Please download the zip and open 'form-cloned-elements.html'.

Problem: I've no clue how to apply 'stepper' to the clone.

[2016-06-04 11:30] #13 closed

[2016-06-06 09:41] TheBigK commented on #55
Update: I'm about to give up on jsFiddle. It just won't serve the files from external sources. @actual-saurabh - Could you please download the zip from above URL to check the issue?

[2016-06-06 10:07] birdy247 opened #56 "Prevent deleting"
I am trying to perform some logic in the before_delete event.  If applicable I would like to prevent deleting.  I have tried returning false and preventDeault() without success.

Is this possible?

[2016-06-07 03:06] actual-saurabh commented on #56
The way it is right now, no. But there's another related discussion in #43 about some sort of validation step that can be used to prevent cloning or deletion.

[2016-06-07 03:31] actual-saurabh commented on #43
@gchokeen I wanted to discuss the flow. For example, when cloning the following events can be prevented
1. `before_clone.cloneya`
2. `after_clone.cloneya`
3. `before_append.cloneya`
4. `after_append.cloneya`

So, if 1 is prevented, 2, 3 & 4 would also need to be prevented.  Same way, if 2 is prevented, 3 and 4 would also need prevention. I want to avoid too many nested if statements.

[2016-06-07 06:37] actual-saurabh opened #57 "Deprecate and possibly remove old event names in favour of newer namespaced events"
For eg, remove the event `clone_before_clone` and only keep `before_clone.cloneya`. Right now both of them exist for backwards compatibility, which should be discouraged now.

[2016-06-07 07:10] gchokeen commented on #43
@actual-saurabh, I created validation branch to implement this feature. I will implement and update soon.

I think once **before_clone.cloneya** event prevented all other follow up event's should not trigger. Since we return if event prevented.

[2016-06-08 03:44] actual-saurabh commented on #43
👍

[2016-06-09 19:59] solarsilk opened #58 "external control not working on new clones"
hi @actual-saurabh loving your plugin, thanks! but i'm running into an issue: when i use an external control for the delete button, it works on the original elements coded into the page, but not on newly cloned ones.

please check out this fiddle: https://jsfiddle.net/split19/boegwbq9/4/
you can delete the 2nd row, but when cloning a row, you can't delete it.

any ideas? thank you!

[2016-06-10 14:09] actual-saurabh commented on #58
See, https://jsfiddle.net/boegwbq9/5/

The event binding won't happen and the click event itself won't work. When you bind the event to the `.delete-row-btn` class, when the code is run (on document ready) the event will bind only to the delete buttons present in the DOM at that moment:

[code]

So, the new clones' delete button which is added to the DOM later will not have the click event binding

[2016-06-10 14:09] #58 closed, assigned to actual-saurabh

[2016-06-10 14:13] actual-saurabh commented on #55
@TheBigK It needs files to be served over https.

[2016-06-10 14:28] actual-saurabh commented on #55
@TheBigK What plugin are you using for stepper? Can you give me a link?

[2016-06-10 15:03] actual-saurabh commented on #55
Ok, figured it out on my own (but please take this as a lesson, please give full details of your problem). Here's your jsfiddle: https://jsfiddle.net/bwyu6c8v/

Now, let me point out that first of all, there is a problem with your html and the way you are selecting things. Please look up the difference between `ids` and `classes`. Can you fix the issues there? I can't help you with basic html and

[2016-06-10 15:03] solarsilk commented on #58
Thank you!

[2016-06-12 02:52] TheBigK commented on #55
@actual-saurabh - Thanks a lot for looking into this and your response. I'm pretty new to jQuery and maybe I'm not catching the obvious. Gotta figure out why the clone shows CSS (up and down arrows) but does nothing upon keypress.

[2016-06-12 04:37] actual-saurabh commented on #55
I don't do this for free usually but here's the fixed thing: https://jsfiddle.net/bwyu6c8v/3/ I hope you read and understand what I have done before using it.

[2016-06-12 04:38] #55 closed, assigned to nobody

[2016-06-12 04:38] #52 closed

[2016-06-12 04:42] TheBigK commented on #55
Seriously, that's more than what I'd have thought of. Looks like a lot of homework to do.

[2016-06-14 21:05] solarsilk commented on #58
my original fiddle was a simplified version of what i really need to do. i got it working as you described, but really i need a nested clone of "pages" and "rows". i know i'm doing something wrong, but i'm not sure how to use jQuery's on() in order to get the nested clones to work. my problem is with the add row button and delete buttons in the newly cloned page. please see: https://jsfiddle.net/y

[2016-06-15 00:53] softelos opened #59 "Plugin doesn't work"
Can't make the plugin to do anything:

https://jsfiddle.net/mezb45L3/

[2016-06-21 05:13] Archomeda opened #60 "Cloning .toclone element with id doesn't replace ids"
Every element inside the `.toclone` element gets its id updated properly with incremental ids. However, the id of the main `.toclone` element itself doesn't.

Say, if you use bootstrap tabs where every tabpanel requires an id to have it working properly, you'll probably end up with something like this:

[code]

Clone this once, the tabpanel gets id `tab1`. Clone it twice from the same tabpanel, yo

[2016-12-16 13:01] fukumori opened #61 "Clone with datepicker"
I have an issue with cloneya and datepicker (jquery-ui).

https://jsfiddle.net/urqf13sv/3/

[2016-12-19 14:38] fukumori commented on #61
When run
https://github.com/yapapaya/jquery-cloneya/blob/stable/dist/jquery-cloneya.js#L258
references to toClone and newClone changes on
https://github.com/yapapaya/jquery-cloneya/blob/stable/dist/jquery-cloneya.js#L261

[2017-02-20 17:38] paulschwarz opened #62 "Handle jQuery event namespaces correctly"
CloneYa handles an event called `clone.cloneya` on the triggering element. jQuery fails to correctly handle the bubbling of namespaced events (see unresolved bug report https://bugs.jquery.com/ticket/6913 and see a simple illustration here http://jsfiddle.net/kZCBw/3/).

CloneYa subscribes to its own custom namespaced event [here](https://github.com/Yapapaya/jquery-cloneya/blob/stable/dist/jquery-

[2017-02-26 07:37] #62 closed, assigned to nobody

[2017-04-27 14:24] bachilli opened #64 "serializeIndex max clones"
When cloning more than 10 elements the serializeIndex keeps the index at 10.

[2017-04-27 22:18] acoulton commented on #64
I was surprised by this as we've been using cloneya a while without noticing this, but it's verified at https://jsfiddle.net/to4nLr6z/1/

The fix in #66 seems to work, but the original implementation it removes looks surprisingly complex so I wonder if it was originally written like that to meet some other requirement/edge case I've not spotted?

[2017-04-28 01:20] bachilli commented on #64
I think the only requirement/edge case that this fix can't meet is when you have a field with generic array without pré-setted index: ex. `input type="text" name="thisisanarray[]"` or nested arrays with numeric indexes `name="this[nested][0][array][0]"`

[2017-04-28 14:06] bachilli commented on #64
Solved in merge. Need to recompile the .minified js

[2017-04-28 14:06] #64 closed, assigned to nobody

[2017-06-20 15:58] markgonz opened #67 "Label attribute 'for' should also be updated to reflect the correct field ID."
I am using this on some of my forms and noticed that the for attribute on the labels is always the same. I am updating this after append and delete, but it would be great if this was default functionality.

[2017-12-14 11:31] ASchwiedy opened #68 "Jquery cloneYa"
Hello,

i am using the cloneya plugin in my form.

![tt](https://user-images.githubusercontent.com/34541063/33990280-add301ac-e0ca-11e7-94f1-3f7b5f645bc4.jpg)

As you can see, one click at the blue button and all the 5 rows with the input fields will be cloned. That works fine!
But its very for me to send them via email. It looks like a very complicate array.

Have someone an idea?

Cheers
Andi

[2017-12-24 11:56] ASchwiedy opened #69 "Validate"
Hello All,

how can i validate clone-fields with jquery validate?

Andi

[2018-03-12 03:39] ajobegs commented on #61
$('#simple-clone3').cloneya({
            minimum	: 1,
            maximum     : 4,
            cloneThis		: '.toclone3',
            valueClone		: true,
            dataClone		: false,
            deepClone		: false,
            cloneButton		: '.y .clonex',
            deleteButton	: '.y .deletex',
            clonePosition	: 'after',
            serializeID     : true,
            ignore

[2018-04-30 20:24] cgarveyie opened #70 "SerializeIndex config option not working"
Hi there, my understanding of how this is intended to function is that the name property of input fields would receive a unique identifer in the same way as the id fields do.

However, this does not appear to be working.

[2018-04-30 20:26] cgarveyie commented on #60
but it's still a unique identifier, right? That's all the functionality offers. Trying to maintain a sequential list of cloned objects when users can clone and delete objects would be considerably more complex.

[2018-04-30 20:27] cgarveyie commented on #68
I serialize the input fields , put the serialized string into an hidden input field and then process it server side.

[2018-05-10 14:30] Archomeda commented on #60
Not true. If you clone the original `tab` 11 times, you'll get `tab11`. But you'll also get `tab11` by cloning `tab1` once.

[2018-08-29 13:51] indreshs opened #71 "Issue with SelectBox"
When tried to clone selectbox, cloned element do not show first element of select box as selected

[2019-02-08 09:55] plasebo commented on #70
Yes noticed that the config for serializeIndex is missing. Add it to:
`var name = "cloneya", defaults = {
   serializeIndex: true,
}
`

[2019-03-01 14:54] seglavi opened #72 "How to prevent clone with before_clone?"
Hi,

I have a question. How to prevent clone with before_clone?

	.on('before_clone.cloneya', function (e, toclone) {
		if(!toclone.find(".input .title").val() || !toclone.find(".input .name").val()) {
			return false;
		}
	})

I have a plan like this. before_clone if the values are empty i don't want to clone. I want to abort the event. But i can't success. Any one have any idea?

Thanks.

[2021-10-06 13:05] shibin-pb commented on #44
serializeIndex is not incrementing properly and it stops the numeric indexing of input array at 10 when clone count becomes more than 10

`<input type="text" name="name[0]"/>
<input type="text" name="name[1]"/>
<input type="text" name="name[2]"/>
<input type="text" name="name[3]"/>
<input type="text" name="name[4]"/>
<input type="text" name="name[5]"/>
<input type="text" name="name[6]"/>
<input ty